dist/*
!dist/readme.md
design/
app/blocks/sprite-svg/img/sprite-svg.svg
app/blocks/sprite-png/img
app/blocks/sprite-png/sprite-png.scss

.Saved/
_arc/
bower_components/
node_modules/
.vscode/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
.publish
ex_files
Thumbs.db
__MACOSX/
