// В этом файле должны быть стили для БЭМ-блока date, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...


.date {

    padding-top: 44px;
    padding-bottom: 20px;

    &__wrapper {
        display: flex;
        align-items: flex-end;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__label {
        margin-right: 15px;
        font-size: 22.5px;
        line-height: 22.5px;
        font-weight: bold;
        color: #2f1b15;

        @media screen and (max-width: 1000px) {
            margin-bottom: 30px;
        }
    }

    &__desc {
        font-family: 'CourierNew';
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 5px;
        padding-left: 9px;
        background-image: url("../img/border.png");
        background-position: bottom;
        background-repeat: no-repeat;
    }
}
