mixin logo()
  section.logo
    h2.visually-hidden Логотип компании CSSSR
    a(href="https://csssr.com/ru", target="__blank").logo__link
      img(src="img/logo.png", alt="Логотип компании").logo__img
