// В этом файле должны быть стили для БЭМ-блока logo, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...


.logo {

    padding-top: 18px;
    padding-bottom: 20px;
    margin-bottom: 165px;

    &__link {

        display: block;
    
        &:hover .logo__img,
        &:focus .logo__img {
            transform: scale(0.95);
            transition: 0.5s;
        }
    }

    &__img {
        transition: 0.5s;
    }

}
