// В этом файле должны быть стили для БЭМ-блока future, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...


.future {

    padding-top: 15px;
    padding-bottom: 40px;

    &__title {
        margin: 0;
        margin-bottom: 3px;
    }

    &__descr {
        margin: 0;
        margin-bottom: 15px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 1000px) {
            justify-content: space-between;
        }
    }

    &__item {
        display: flex;
        padding-left: 35px;
        margin-right: 20px;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        color: #000000;
        cursor: pointer;

        @media screen and (max-width: 1000px) {
            width: 45%;
            margin-bottom: 40px;
        }
    }

    &__item-input {
        appearance: none;
        position: absolute;
    }

    &__radio {
        position: absolute;
        width: 30px;
        height: 30px;
        margin-left: -35px;
        background-image: url(../img/radio.png);
        background-position: -6px -9px;
        background-repeat: no-repeat;
        transition: .5s;
    }

    &__item-input:checked + .future__radio {
        background-image: url(../img/radio.png), url(../img/radio-checked.png),;
        background-position: -6px -9px, 3px 4px;
        transition: .5s;
    }
}
