mixin about-text()
    section.about-text
        h2.about-text__title.title Расскажите о себе словами
        p.about-text__descr.descr Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
        p.about-text__block Я обычный человек, который только к 30 годам понял, что занимается не тем, чем хочет и решил изменить свою жизнь. В 2017 году закончил курс от HTML Academy "Front-end разработчик". К слову сказать, это был их первый поток. Было тяжело, но у меня получилось) Затем была стажировка в Liga A. (это подразделение HTML Academy по коммерческой разработке). Сейчас подрабатываю в местной студии и постоянно обучаюсь. Опыт коммерческой разработки больше года уже.