// В этом файле должны быть стили для БЭМ-блока about-text, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...


.about-text {

    padding-top: 6px;
    padding-bottom: 20px;

    &__title {
        margin: 0;
        margin-bottom: 9px;
    }

    &__descr {
        margin: 0;
        margin-bottom: 20px;
    }

    &__block {

        max-width: 100%;
    
        span {
            width: 100%;
            height: 59px;
            font-family: 'CourierNew';
            font-size: 30px;
            background-image: url(../img/text-underline.png);
            background-repeat: no-repeat;
            background-position: bottom;

            @media screen and (max-width: 768px) {
                font-size: 25px;
            }
        }
    }

    &--db {
        display: inline-block;
        text-align: justify;
        padding-top: 13px;
    }
}
