mixin level()
    section.level
        h2.level__title.title Уровень владения JavaScript
        .level__wrapper
            input.level__input(type="range" name="exponentialslider" min="0" max="10" value="4" step=".1")
            .level__block-wrapper
                span.level__block
        ul.level__list 
            li.level__item Не владею
            li.level__item Использую готовые решения
            li.level__item Использую готовые решения <br> и умею их переделывать
            li.level__item Пишу сложный JS с нуля
        

    
