mixin future()

    -
        var futures = [
            {
                'name': 'Верстать',
            },
            {
                'name': 'Прокачиваться в JS',
                'checked': 'true',
            },
            {
                'name': 'Менеджерство',
            },
            {
                'name': 'Другое',
            },
            
        ];


    section.future
        h2.future__title.title Какие у вас планы на будущее?
        p.future__descr.descr Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
        .future__list 
            each val in futures
                label.future__item
                    input(type="radio" name="future" checked=val.checked).future__item-input
                    span.future__radio 
                    div!= val.name
  
