// В этом файле должны быть стили для БЭМ-блока skills, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...


.skills {

    padding-top: 26px;
    padding-bottom: 20px;

    &__title {
        margin: 0;
        margin-bottom: 4px;
    }

    &__descr {
        margin: 0;
        margin-bottom: 27px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        @media screen and (max-width: 1000px) {
            justify-content: space-between;
        }
    }

    &__item {
        display: flex;
        align-items: top;
        width: 33%;
        height: 30px;
        padding-left: 28px;
        margin-bottom: 5px;
        font-size: 21px;
        line-height: 25px;
        font-weight: bold;
        cursor: pointer;

        &:nth-last-child(2) {
            width: 40%;

            @media screen and (max-width: 1000px) {
                width: 45%;
            }
        }

        &:nth-last-child(1) {
            margin-left: -53px;

            @media screen and (max-width: 1000px) {
                margin-left: 0px;
            }
        }

        @media screen and (max-width: 1000px) {
            width: 45%;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__item-input {
        appearance: none;
        position: absolute;
    }

    &__checkbox {
        position: absolute;
        width: 20px;
        height: 30px;
        margin-left: -27px;
        background-image: url(../img/checkbox.png);
        background-position: 0px 4px;
        background-repeat: no-repeat;
    }

    &__item-input:checked + .skills__checkbox {
        background-image: url(../img/checkbox.png), url(../img/checked.png),;
        background-position: 0px 4px, 2px -6px;
    }
}
