//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/logo/logo.pug
include blocks/about/about.pug

include blocks/skills/skills.pug
include blocks/level/level.pug
include blocks/about-text/about-text.pug
include blocks/future/future.pug
include blocks/date/date.pug
